Django==1.4
South==0.7.6
amqp==1.0.6
anyjson==0.3.3
billiard==2.7.3.19
boto==2.6.0
celery==3.0.13
distribute==0.6.24
dj-database-url==0.2.1
django-celery==3.0.11
django-cors==0.1
django-storages==1.1.6
gunicorn==0.17.2
#importlib==1.0.2
kombu==2.5.4
ordereddict==1.1
psycopg2==2.4.5
pytz==2012j
python-dateutil==1.2.0
redis==2.7.2
simplejson==2.6.2
wsgiref==0.1.2
newrelic==1.9.0.21
