<html>
  <head>
    <title>3taps Data Commons Reporting</title>
    <style type="text/css" media="all">
      a {
        text-decoration: none;
        color: #00c;
      }
    </style>
  </head>
  <body>
    <h3>Welcome to the 3taps Data Commons Reporting Module</h3>
    <p/>
    Available Reports:

    <table cellspacing="0" cellpadding="5" border="0" bgcolor="#e0ffff"
           style="margin:20px; border-collapse:collapse">
{% for label,description,url in reports %}
      <tr>
        <td align="left" nowrap
            style="border:1px solid black">
          <a href="{{ url }}">{{ label }}</a>
        </td>
        <td align="left"
            style="border:1px solid black">
          {{ description }}
        </td>
      </tr>
{% endfor %}
    </table>

    <button onclick="document.location='/admin'">Done</button>
  </body>
</html>
